<!-- 
    AJ Balbacal - 301084026 - About
 -->

 <div class="container d-flex align-items-center flex-column">
    <!--  Heading-->
    <h1>ABOUT ME</h1>
    <!-- Main Content-->
    <div class="row">
        <div class="col-lg-4 ms-auto">
          <p>My name is <b>AJ Balbacal</b> and I am 28 years old. Currently I am a student of Software Engineering - Artificial Intelligence</p>
          <p>I am from the Philippines and I moved to Canada 3 years ago. Worked at Toronto Pearson for a while then the pandemic hit. </p>
          <p>Decided to go back to School and went to Seneca College to pursue Cybersecurity and Threat Management</p>
          <p> I've always been passionate about new technologies and that was what motivated me to go back to school and learn more.</p>
          <p> Please click in the link to check my <a href="./content/document/Resume.pdf" target="_blank">resume.</a></p></div>
        <div class="col-lg-4 me-auto"><p class="lead"><img class="myself" src="./content/images/me.jpg" width="450" height="600"></p></div>
    </div>
</div>