<!-- 
    AJ Balbacal - 301084026 - Contact
 -->

 <div class="container d-flex flex-column">
    <!--  Heading-->
    <div class="mx-auto">
      <h1>Contact Me</h1>
    </div>

    <!-- Contact Section Form-->
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFirstName">First Name</label>
          <input type="firstname" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
  
      <div class="col-sm"></div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Last Name</label>
          <input type="lastname" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
  
      <div class="form-group col-md-6">
        <label for="inputContactNumber">Contact Number</label>
        <input type="contactnumber" class="form-control" id="inputContactNumber" placeholder="Contact Number">
      </div>
    
      <div class="form-group col-md-6">
        <label for="inputEMail">E-Mail</label>
        <input type="email" class="form-control" id="inputEMail" placeholder="example@google.com">
      </div>
  
      <div class="form-group col-md-6">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
  
      <div class="form-group col-md-6">
        <label for="inputMessage">Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type your message here"></textarea>
      </div>
    </div>
      <button type="submit" class="btn btn-outline-primary"><a href="/home">Submit</a></button>
    </form>
  
    <!-- My Contact Information -->
    <div class="row">
        <div class="container row col -sm">
            <div class="col-sm">
                <button type="button" class="btn btn-outline-info"><i class="fas fa-lg fa-person"></i> Name: <a href="/about"><b>Anueljann Balbacal</b></a></button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-secondary"><i class="fas fa-lg fa-mobile"></i> Phone: <a href="tel:6479178816"><b>647-917-8816</b></a></button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-danger"><i class="fas fa-lg fa-house"></i> Address:<a href= "https://goo.gl/maps/inRrpEpSWySyLCBr7"> <b>Toronto, ON</b></a></button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-primary"><i class="fab fa-lg fa-google"> </i>E-Mail: <a href= "mailto:anueljann@gmail.com"> <b>anueljann@gmail.com </a></b></button>
            </div>
            <div class="col-sm">
                <button type="button" class="btn btn-outline-secondary"><i class="fab fa-lg fa-linkedin"></i> Linkedin: <a href= "https://www.linkedin.com/in/anueljann/" > <b>Anueljann Balbacal </a></b></button>
            </div>
            <div class="col-sm">
            <button type="button" class="btn btn-outline-success"><i class="fab fa-lg fa-git"></i> Github: <a href= "https://github.com/AJ-CentennialCollege"><b>AJ-CentennialCollege</a></b></button>
            </div>
        </div>
    </div>