<!-- 
    AJ Balbacal - 301084026 - Homepage
 -->

<div class="container d-flex align-items-center flex-column">
    <!-- Heading Image -->
    <img src="./content/images/memoji.jpg" alt="..." width="500" height="500">
    <!-- Heading-->
    <h1>AJ Balbacal</h1>
    <!-- Mission statement-->
    <p>MY MISSION IS TO DELIVER HIGH QUALITY SOFTWARE</p>
    <!-- About me button -->
    <button type="button" class="btn btn-outline-info"><a href="/about"><b>About Me</b></a></button>
</div>