<!-- 
    AJ Balbacal - 301084026 - Projects
 -->

<div class="container d-flex align-items-center flex-column">
<!-- Heading-->
<h1>Projects</h1>
<!-- Bootsrap Card Component -->
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./content/images/house.jpg" alt="Real Estate">
      <div class="card-body">
        <h5 class="card-title">Web Design</h5>
        <p class="card-text">Designed a responsive, user-oriented website for a real-estate agent to showcase houses for sale</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./content/images/SRS.jpg" alt="SRS Document">
      <div class="card-body">
        <h5 class="card-title">Software Requirement Specification</h5>
        <p class="card-text">Collaborated for the planning SRS document for a mobile educational app that can test users of their knowledge in a gaming style</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./content/images/apt.png" alt="Capstone">
      <div class="card-body">
        <h5 class="card-title">Cybersecurity Program Capstone Project</h5>
        <p class="card-text">Designed a framework for an in-organization Cyber-Intelligence Sharing to help mitigate the risks and incidents in the cyberspace</p>
      </div>
    </div>
  </div>
  