<!-- 
    AJ Balbacal - 301084026 - Services
 -->

<div class="container d-flex align-items-center flex-column">
    <!-- Services Heading-->
    <h1>Services</h1>
            <div class="row">
                <div class="col align-self-center">
                    <ul class="list-group">
                        <li class="list-group-item">Website Deisgn</li>
                        <li class="list-group-item">Website Development</li>
                        <li class="list-group-item">PC Troubleshooting</li>
                        <li class="list-group-item">Cybersecurity</li>
                        <li class="list-group-item">Application Development</li>
                    </ul>
                </div>
                    <!-- Services Aesthetics -->
                <div class="col align-self-end">
                     <img class="myself" src="./content/images/services.jpg" style="width:80%">     
                </div>
            </div>
</div>